@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.5px;
}
.main-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: start;
  justify-content: space-between;
  color: black;
  background-color: hsl(222, 89%, 82%);
  position: relative;
}

/* Header Container */
.header {
  width: 100%;
  height: auto;
  color: blanchedalmond;
  background-color: rgba(32, 3, 248, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}
.nav-link {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  color: black;
}
.nav-link a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.home {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 2.5rem;
}
.home img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: black;
  border: 1rem;
  cursor: pointer;
}

.header a {
  text-decoration: none;
  font-weight: 600;
}
.header a:hover {
  color: bisque;
}
.home a {
  font-size: 1.15rem;
}

/* Hero Container */
.hero {
  width: 100%;
  height: fit-content;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  background-color: rgba(148, 148, 231, 0.7);
  border: rgb(148, 148, 231);
}
.text-hero-heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
  text-align: center;
  width: 40%;
  height: auto;
  color: rgb(143, 7, 234);
}
.hero-text.heading h1 {
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.text-hero-paragraph {
  font-weight: 450;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  width: 60%;
  height: auto;
  align-items: end;
  color: #035240;
}

.hero-text-paragraph a {
  font-weight: normal;
}

/* About Section */
.about {
  width: 100%;
  height: auto;
  color: rgb(11, 46, 109);
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  column-gap: 2rem;
  padding: 2.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.bio-details-image {
  width: 40%;
  height: auto;
}
.bio-details-image img {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}
.bio-skills {
  width: 60%;
  height: auto;
}
.bio-skills h2 {
  text-align: center;
  text-decoration: underline;
  color: rgb(143, 7, 234);
}

/* Projects Section */

.projects {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.5rem;
  border-color: rgba(27, 5, 191, 0.9);
  padding: 1rem 2.5rem;
}

.top-project-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  column-gap: 0.8rem;
  padding-bottom: 0.5rem;
}
.bottom-project-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  column-gap: 1rem;
  padding: 0.5rem;
}
.project1 {
  width: 50%;
  height: 90vh;
  background-color: rgba(100, 149, 237, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  row-gap: 0.5rem;
  border-radius: 10px;
}
.project-text {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  row-gap: 0.7rem;
}

.image1 {
  width: 99%;
  height: 60vh;
  margin: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}
.project1 img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.icon {
  width: 50%;
  height: 90vh;
  background-color: rgba(100, 149, 237, 0.3);
  align-content: center;
  border-radius: 10px;
  align-items: center;
  justify-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}
.icon p {
  text-align: center;
}

/* ===== Blog Section ===== */
.blog1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  row-gap: 0.5rem;
  padding: 2.5rem;
}
.heading-text h2 {
  text-align: center;
  text-decoration: underline;
  font-weight: 600;
  color: rgb(143, 7, 234);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.article-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  row-gap: 0.4rem;
}
.heading-text h3 {
  color: #004d40;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.article {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  column-gap: 1rem;
}

.article1 {
  width: 50%;
  height: auto;
  font-size: 1.05rem;
  text-align: left;
}
.blog1 a {
  color: #007b5e;
  text-decoration: none;
}

.more-blogs {
  background-color: #007b5e;
  color: #fff;
  padding: 0.7rem;
  border-radius: 5px;
  width: fit-content;
  margin: 1.5rem auto 0;
  transition: background-color 0.3s ease;
}

.more-blogs:hover {
  background-color: #004d40;
}

/* ===== Contact Form ===== */
.contact {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.heading-text-contact h2 {
  text-align: center;
  color: rgb(143, 7, 234);
  margin-bottom: 0.5rem;
}
.contact-me {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: rgb(173, 164, 233);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  padding: 1.5em;
}

form div {
  margin-bottom: 1.2rem;
  width: 100%;
  max-width: 500px;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 0.5rem;
  color: rgb(17, 7, 79);
}

input,
textarea {
  width: 100%;
  padding: 0.8rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

textarea {
  min-height: 100px;
}

.submit-button button {
  width: 16rem;
  height: auto;
  background-color: rgb(17, 7, 79);
  color: rgba(192, 184, 241, 0.9);
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button button:hover {
  background-color: rgb(77, 64, 161);
}

/* footer Section */

.footer {
  width: 100%;
  height: auto;
  color: rgb(173, 164, 233);
  background-color: rgb(17, 7, 79);
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding: 2rem;
  column-gap: 1rem;
}
.footer1 {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  column-gap: 0.5rem;
}
.footer1 a {
  text-decoration: none;
  color: rgb(173, 164, 233);
  cursor: pointer;
}
.footer1 a:hover {
  text-decoration: underline;
  color: rgb(147, 131, 249);
  cursor: pointer;
}

/* ===== Responsive Design ===== */
@media (max-width: 1140px) {
  .header {
    flex-direction: column;
  }

  .about {
    flex-direction: column;
  }

  .projects,
  .blog,
  form.contact {
    padding: 3rem 1rem;
  }

  .project1 {
    width: 100%;
  }

  .nav-link {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* ===== Responsive Design ===== */
@media (max-width: 480px) {
  .header {
    flex-direction: column;
  }

  .about {
    flex-direction: column;
  }

  .projects,
  .blog,
  form.contact {
    padding: 3rem 1rem;
  }

  .project1 {
    width: 100%;
  }

  .nav-link {
    flex-wrap: wrap;
    justify-content: center;
  }
}
